.footer
  .row-fluid
    .span9
      - unless @earl
        %p This project is supported by generous grants from:
        %p.generous-grantees
          %br
            The Internet Society Foundation
    .span3
      .footer-right.pull-right
        %p
          = link_to(t('nav.about'), about_path)
          %br
          = link_to(t('nav.privacy_policy'), privacy_path)
